<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Upload Image</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <style>
    body {
      background-color: #add8e6;
    }
    h5{
        text-align: center;
        text-decoration-color: black;
        text-size-adjust: 50px;
    }
    h1{
        text-align: center;
        text-decoration-color: black;
    }
  </style>
</head>
<body>
    <h1>Fashionista</h1>
    <h5><centre>
        Fashionista is a cutting-edge web application that helps users discover<br>
        the latest and greatest fashion trends. With a vast collection of styles,<br>
        looks, and brands, Fashionista offers personalized recommendations based<br>
        on each user's unique preferences and style. Whether you're looking for <br>
        the perfect outfit for a night out on the town or want to stay up-to-date<br>
        on the latest fashion news and trends, Fashionista has everything you need <br>
        to elevate your style game. Our expert team of fashion advisors curates a <br>
        diverse selection of clothing, accessories, and beauty products to ensure <br>
        that you always look and feel your best. With easy-to-use features and a <br>
        sleek interface, Fashionista is the ultimate fashion companion for every <br>
        style-savvy individual. Discover the world of fashion like never before <br>
        with Fashionista.</centre></h5>
        <a href="/" class="btn btn-custom btn-block">Home</a>
</body>
</html>