<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Image Gallery</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        {% for image_url in image_urls %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ image_url }}" class="card-img-top" alt="..." />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
